<div class="history-section">
  <div class="origin-story">
    <img src="/assets/image.jpeg" alt="Mighty Morphin Power Rangers">
    <div class="text-content">
      <h2>HISTORIA DEL ORIGEN DE LOS POWER RANGERS</h2>
      <p style="text-align: justify;">
        Los Power Rangers hicieron su debut en la televisión en 1993 con la serie "Mighty Morphin Power Rangers". 
        Adaptada a partir de la franquicia japonesa "Super Sentai", la serie presentó a un grupo de jóvenes que 
        reciben la capacidad de transformarse en héroes con trajes de colores, luchando contra las fuerzas del mal. 
        Aunque esta fórmula fue simple, tuvo un impacto cultural masivo en todo el mundo, con sus personajes icónicos, 
        sus secuencias de acción emocionantes y, por supuesto, sus Zords, los enormes robots que los Rangers usaban 
        para combatir monstruos gigantes. Esta serie fue tan popular que generó una vasta franquicia que continúa 
        hasta el día de hoy, con numerosas adaptaciones, películas y generaciones de nuevos Rangers que siguen inspirando 
        a los jóvenes. Detrás de esta historia también hay un legado de trabajo en equipo, valentía y la lucha interminable 
        por el bien.
      </p>
    </div>
  </div>

  <div class="creator-story">
    <div class="text-content">
      <h2>HISTORIA DEL CREADOR</h2>
      <p style="text-align: justify;">
        La franquicia "Super Sentai" comenzó en 1975 con la serie japonesa "Himitsu Sentai Goranger", creada por 
        el legendario mangaka Shotaro Ishinomori. Inspirado por el concepto de superhéroes que trabajan en equipo, 
        Ishinomori creó una serie donde un grupo de cinco personajes con trajes de colores luchan contra fuerzas malignas. 
        El éxito de la serie en Japón fue increíble, y sentó las bases para lo que eventualmente se convertiría en 
        "Power Rangers" cuando Haim Saban decidió adaptar el formato para una audiencia occidental. Haim Saban tomó 
        la idea original de Super Sentai y la mezcló con elementos estadounidenses, creando así uno de los productos 
        televisivos más reconocidos en los años 90. Este creador no solo fue pionero en fusionar culturas televisivas, 
        sino que ayudó a abrir el camino para otras adaptaciones exitosas, influenciando una generación de productores 
        y creadores de contenido global.
      </p>
    </div>
    <img src="/assets/creator.jpg" alt="El Creador de Power Rangers">
  </div>
</div>

<app-personajes></app-personajes>


<app-series></app-series>
